%h1 Movies with the same director

%ul#similars
  - @samedirector_movies.each do |movie|
    #li
      =movie.title
      = link_to "Ver info", movie_path(movie)

= link_to 'Back to movie list', movies_path
